<!DOCTYPE html>
<html lang="eng">
    <head>

        <meta charset="UTF-8">
        <title>bennyboy blog create PW</title>
        <link rel="stylesheet" href="static/css/style.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="bennyboy's blog">
        <meta name="keywords" content="bennyboy, blog, cs50">
        <meta name="author" content="bennyboy">
        <meta name="viewport" content="width=device-width,initial-scale=1">

    </head>
    <body>
        <header>
<!--            <div class="title"><img class="logo" src="/static/assets/benny-profile.svg" />BennyBoy</div>-->
            <div class="title">Create PW</div>
            <div class="menu">
                <div><a class="menu-item-highlighted" href="/login"> CREATE PW </a></div>
            </div>
        </header>

        <div class="container">

            <form method="POST">
                <textarea class="title" name="password" placeholder="enter new password"></textarea>
                <input type="submit" value="return"/>
            </form>


        </div>
        <footer>
            <div class="footer-container">
                <div class="left">
                    <a class="footer-item">
                        <a class="fa fa-twitter" title="bennyBoy_JP" href="https://twitter.com/Bennyboy_JP" target="_blank"></a>
                    </a>
                </div>
            </div>
        </footer>
    </body>
</html>