<!DOCTYPE html>
<html lang="eng">
    <head>

        <meta charset="UTF-8">
        <title>bennyboy blog login</title>
        <link rel="stylesheet" href="static/css/style.css" />
        <meta name="description" content="bennyboy's blog">
        <meta name="keywords" content="bennyboy, blog, cs50">
        <meta name="author" content="bennyboy">
        <meta name="viewport" content="width=device-width,initial-scale=1">

    </head>
    <body>
        <header>
<!--            <div class="title"><img class="logo" src="/static/assets/benny-profile.svg" />BennyBoy</div>-->
            <div class="title">Login</div>
            <div class="menu">
                <div><a class="menu-item-highlighted" href="/login"> LOGIN </a></div>
            </div>
        </header>

        <div class="container">

            <form method="POST">
                <textarea class="title" name="password" placeholder="password"></textarea>
                <input type="submit" value="return"/>
            </form>


        </div>
        <footer>
            <div class="footer-container">
                <div class="left">
                    <a class="footer-item">
                        <a class="fa fa-twitter" title="bennyBoy_JP" href="https://twitter.com/Bennyboy_JP" target="_blank"></a>
                    </a>
                </div>
            </div>
        </footer>
    </body>
</html>